/*fonts
1. h1 + h2 + h3 + h4: Dosis
2. body text: Quicksand
3. buttons + nav: Roboto condensed
*/

* {
  box-sizing: border-box;
}

/* ----------------------- PAGE and SECTION Related ---------------------------*/
body{
  background-color: #222222;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
}

#content{
  margin-top: 8rem;
}

#project-content{ /*a wrapper with all the page content in it */
  padding-top: 5rem; /* move content below so there's more spacing between header and top of the intro */
}

footer {
  background-color: #1F1F1F;
  margin-top: 5rem;
  padding-top: 1rem;
}

#footer-content {
  margin-left: 14%;
  margin-right: 14%;
}

section {
  margin-left: 14%;
  margin-right: 14%;
  margin-bottom: 6rem;
}

.sub-section { /*for every sub section within section, used for spacing and alignment purposes 
                DON'T USE FOR THE LAST SUB-SECTION FOR THE SECTION TO AVOID EXTRA MARGIN (we want only 6rem)*/
  margin-bottom: 3rem;
}

.highlight-area { /*area where the background is light grey and covers the entire width */
  margin-top: 3rem;
  margin-left: -19.5%;
  margin-right: -19.5%;
  padding-left: 19.5%;
  padding-right: 19.5%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #2C2C2C;
}

.numbered-title-section{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

/* ----------------------- BASIC ELEMENT Related ---------------------------*/

h1 {
  font-family: 'Dosis', serif;
  justify-self: left;
	position: relative;
  font-size: 48px;
  letter-spacing: -0.98px; /*calculated via chatgpt */
  line-height: 1.08;
  color: white;
  margin-top: 2rem;
  width: fit-content;
}

h1:after {
	position: absolute;
	content: "";
	height: 5px;
	width: 100vw;
  bottom: -0.3rem; /* move the line lower */
	right: 0;
	background-color: #C22022;
}

h2 {
  font-family: 'Dosis', serif;
  font-size: 36px;
  letter-spacing: -0.4px;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h3 {
  font-family: 'Dosis', serif;
  font-size: 32px; 
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

h4 {
  width: 70%;
  font-family: 'Dosis', serif;
  font-size: 24px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

ul {
  margin-top: 0;
}

p, label, li{
  width: 97%;
  font-size: 18px;
  letter-spacing: -0.2px;
  line-height: 1.3;
  font-family: 'Quicksand';
}

li{
  margin-bottom: 0.5rem;
}

strong{
  font-family: 'Quicksand';
  font-weight: bold;
  color: #C22022;
}

figcaption{
  width: 97%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  letter-spacing: -0.2px;
  line-height: 1.3;
  font-family: 'Quicksand';
}

a {
  text-decoration: none;
  color: #C22022;
}

a:hover{
  color: white;
}

em {
  color: #C22022;
  font-style: normal;
}

.button {
  background-color: #C22022;
  border: none;
  border-radius: 0.5rem;
  color: white;
  padding: 0.5rem 4rem;
  margin-top: 0.5rem;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  transition: border-color 0.3s ease;
}

.button:hover, .button:focus{
  background-color: white;
  color: #C22022;
  cursor: pointer;
}

input[type="radio"] {
    accent-color: #33415C;
    cursor: pointer;
}

input[type='submit'] {
  text-decoration: none;
}

input[type="text"] {
  padding: 15px;
  padding-left: 30px;
  background-color: #33415C;
  border-radius: 2rem;
  border-style: solid;
  border-color: #002855;
  color: white;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 27px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 18px;
  }
  p, label, li{
    font-size: 13px;
  }
  figcaption {
    font-size: 12px;
  }
}

/* ----------------------- CUSTOM BASIC ELEMENT Related ---------------------------*/

.buttons { 
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  background-color: #023E7D;
  border-radius: 0.7rem;
  color: white;
  cursor: pointer;
  width: 2rem;
  padding: 0.2rem;
  margin-right: 0.2rem;
}

.number-title {
  font-family: 'Dosis', serif;
  font-size: 38px;
  letter-spacing: -0.4px;
  line-height: 1.1;
  color:#C22022;
  margin-right: 0.5rem;
}

/* ----------------------- NAVIGATION BAR Related ---------------------------*/

#navigation-wrapper {
  position: fixed; /* Make the navigation stick to the top */
  top: 0; /* same as last line */
  width: 100%;
  z-index: 1;
}
#navigation {
  overflow: hidden;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-areas:
  "logo . . links";
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2rem;
  padding-bottom: 1rem;
}

#logo {
  grid-area: logo;
}

.navigation-items {
  margin-top: 0.5rem;
  grid-area: links;
  justify-self: end;
}

.navigation-items a{
  font-size: 24px; 
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  color: white;
  margin-left: 2rem;
  margin-right: 2rem;
}

.navigation-items a:hover, .navigation-items a:focus {
  color: #C22022;
  cursor: pointer;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  #navigation {
    grid-template-columns: 1fr;
    grid-template-areas:
  "logo"
  "links";
  }
  #logo{ /* centre the logo when the screen width is small */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }

  .navigation-items{
    margin-left: auto;
    margin-right: auto;
  }

  .navigation-items a {
    font-size: 18px;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/* ----------------------- SIDE BAR Related ---------------------------*/
#side-bar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 3%; /* Set the width of the sidebar */
  min-width: 50px;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  top: 12%; /* Stay at the top */
  right: 1rem;
  overflow-x: hidden; /* Disable horizontal scroll */
  margin-right: 3rem;
}

@media screen and (max-width: 1024px) {
  #side-bar {
    margin-right: 0.1rem; 
  }
}

@media screen and (max-width: 768px) {
  #side-bar {
    display: none;
  }
}

.side-bar-line{
  border-left: 3px solid #C22022;
  margin-left: 1.1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 23%;
}

#side-bar a{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}


/* ----------------------- HOME PAGE - INTRODUCTION SECTION SPECIFIC ---------------------------*/
#introduction {
  display: grid;
  grid-template-columns: 60% 40%;
}

@media only screen and (max-width: 768px) {
  #introduction {
    grid-template-columns: 1fr;
  }
}

#introduction-left {
  margin-right: 5rem;
}

#introduction-right {
   justify-self: end;
}

/* ----------------------- HOME PAGE - PROJECT SECTION SPECIFIC ---------------------------*/
.project {
  background-color: #2C2C2C;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 1rem;
  margin-bottom: 2rem;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.project:hover{
  border-color: #C22022;
}

@media only screen and (max-width: 768px) {
  .project {
    grid-template-columns: 1fr;
  }
}

.project-right {
  margin-left: 1rem;
}

.project-right button {
  margin-right: 0rem;
  float: right;
}

.project h2 {
  margin-bottom: 0;
}

.project img{
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.project-title { /*for home screen project section h2 */
  display: flex;
  border-bottom: 3px solid #C22022;
  width: 100%;
}

.project-title p{
  margin-left: auto;
  margin-bottom: 0;
  width: 10%;
}

/* ----------------------- FOOTER SECTION SPECIFIC ---------------------------*/
#footer-divider {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 2rem;
}

#footer-divider-right {
  text-align: right;
}
#footer-divider p {
  width: 100%;
  margin-top: 0.5rem;
}


#footer-content {
  position: relative;
}

#footer-content h2 {
  position: relative;
  z-index: 0;
}

#footer-content h2::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1rem;
  width: 100%;
  background: #C22022;
  z-index: -1;
}

/* ----------------------- Project page specific (general elements for all the project pages) ---------------------------*/
#project-landing {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 3rem;
}

#project-page-brief {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

#project-page-brief h4{
  width: 100%;
}

#project-members ul{
  list-style-type: none;
  padding: 0 0 0 0.5rem;
  width: 100%;
}

#project-members li{
  margin-bottom: 0.5rem;
}

.highlight-area-title {
  border-bottom: 3px solid #C22022;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  #project-page-brief {
    grid-template-columns: 1fr;
  }
}

#project-page-brief h3, #project-page-brief h4 {
   border-bottom: 3px solid #C22022;
}

.flex-area{ /* for the list of items within the project brief for each project page */
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 768px)  { 
  .flex-area {
    display: block; 
  }
}

/* ----------------------- PROJECT PAGE - RABBITATS SPECIFIC ---------------------------*/
#rabbitats-web-preview {
  align-items: flex-end;
}

#rabbitats-mobile-preview div{
  justify-content: center; 
  gap: 3rem;
}

#rabbitats-share-prototype{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center; 
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 768px)  { 
  #rabbitats-share-prototype{
    grid-template-columns: 1fr;
  }
  .rabbitats-share-prototype-option{
    margin-bottom: 2rem;
  }
}

#rabbitats-first-issue-top{
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  gap: 1rem; 
  align-items: start; 
}

#rabbitats-first-issue-bottom{
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: flex-end;
  gap: 3rem;
  margin-top: -1.5rem;
}


#rabbitats-second-issue{
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  gap: 3rem; 
  align-items: center;
}

#rabbitats-second-issue-content {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

@media only screen and (max-width: 768px)  { 
  #rabbitats-first-issue-top, #rabbitats-first-issue-bottom, #rabbitats-second-issue, #rabbitats-second-issue-content  {
    grid-template-columns: 1fr;
  }
  
}

#rabbitats-design-iterations-images { /*center all the images for the design iterations section */
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  text-align: center;
}

/* ----------------------- PROJECT PAGE - MACARON SPECIFIC ---------------------------*/

#macaron-share-prototype{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center; 
  align-items: center;
  text-align: center;
}

#macaron-brand-description{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  justify-content: center; 
  align-items: center;
  gap: 3rem;  
}

#macaron-first-role{
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  gap: 3rem; 
  align-items: center;
}

#macaron-first-role-content, #macaron-second-role, #macaron-third-role-content {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem; 
  align-items: start; 
}

#macaron-second-role-bottom{
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 3rem;
  align-items: top;
}

#macaron-third-role{
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 3rem;
  align-items: top;
}

.macaron-features{
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  align-items: top;
  margin-bottom: 1.5rem;
}

/* ----------------------- MEDIA (IMAGE + VIDEO) ---------------------------*/

/* ----------- GENERAL -----------*/
img {
  width: 100%;
}

.image-with-frame { /*add lighter grey area around image for content */
  padding: 0.8rem;
  background-color: #2C2C2C;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
}

.image-with-caption { /*add lighter grey area around image for content */
  padding: 0.8rem;
  background-color: #2C2C2C;
  border-radius: 0.5rem;
  display: inline-block; 
  text-align: center; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Drop shadow */
}

.image-with-caption figcaption {
  margin-top: 0.5rem;
}

.image-with-caption-horizontal { /* in cases where the caption is on the right or left side of the image */
  padding: 0.8rem;
  background-color: #2C2C2C;
  border-radius: 0.5rem;
  display: flex; 
  align-items: center; /* make text vertically aligned */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
}
.image-with-caption-horizontal figcaption {
  margin-left: 1rem;
  margin-right: 1rem;
}


.social-logo {
  margin-right: 2rem;
  width: 2rem;
  height: 2rem;
}

#side-bar-logo-list .social-logo {
  width: 2.5rem;
  height: 2.5rem;
}

#linkedin-logo {
  display: inline-block; /* make sure there's room for the element for pic to show up */
  background-image: url('resources/linkedin.png');
  background-size: cover;
}

#linkedin-logo:hover{
  background-image: url('resources/linkedin_hovered.png');
}

#linkedin-logo-side {
  display: inline-block; /* make sure there's room for the element for pic to show up */
  background-image: url('resources/linkedin_logo_side.png');
  background-size: cover;
}

#linkedin-logo-side:hover {
  background-image: url('resources/linkedin_logo_side_hovered.png');
}

#instagram-logo {
  display: inline-block; /* make sure there's room for the element for pic to show up */
  background-image: url('resources/instagram.png');
  background-size: cover;
}

#instagram-logo:hover{
  background-image: url('resources/instagram_hovered.png');
}

#instagram-logo-side {
  display: inline-block; /* make sure there's room for the element for pic to show up */
  background-image: url('resources/instagram_logo_side.png');
  background-size: cover;
}

#instagram-logo-side:hover {
  background-image: url('resources/instagram_logo_side_hovered.png');
}

#facebook-logo {
  display: inline-block; /* make sure there's room for the element for pic to show up */
  background-image: url('resources/facebook.png');
  background-size: cover;
}

#facebook-logo:hover {
  background-image: url('resources/facebook_hovered.png');
}

#facebook-logo-side {
  display: inline-block; /* make sure there's room for the element for pic to show up */
  background-image: url('resources/facebook_logo_side.png');
  background-size: cover;
}

#facebook-logo-side:hover {
  background-image: url('resources/facebook_logo_side_hovered.png');
}

/* ----------- HOME PAGE -----------*/
#profile-picture {
  width: 100%;
}

/* ----------- PROJECT GENERAL -----------*/
#project-landing-picture {
  width: 100%;
  margin-top: 2rem;
}

@media only screen and (max-width: 768px)  { 
  #project-landing-picture {
    margin-top: 15%;
  }
}

/* ----------- RABBITATS -----------*/
#rabbitats-logo {
  width: 40%;
  margin-left: 5rem;
}

.rabbitats-web-preview-element {
  width: 90%;
}
.rabbitats-mobile-preview-element {
  width: 25%;
}

#rabbitats-design-sketches, #rabbitats-wireframe, #rabbitats-prototype-iterations{
  width: 100%;
}

#rabbitats-design-cketches-container, #rabbitats-prototype-iterations-container{
  width: 90%;
}

#rabbitats-news-article-container{
  margin-right: 2rem;
}

#rabbitats-issue-A2 {
  width: 40%;
}

#rabbitats-issue-B-video{
  width: 100%;
}

#rabbitats-wireframe-container{
  width: 50%;
}


#rabbitats-improvement-A{
  width: 100%;
}

#rabbitats-improvement-B{
 width: 100%;
}

@media only screen and (max-width: 768px)  { 
  #rabbitats-improvement-B {
    grid-template-columns: 1fr;
  }
  
}

.rabbitats-improvement-B-video {
  width: 100%;
}

/* ----------- MACARON -----------*/
#macaron-final-website-highlight-image-container {
  background-image: url("resources/macaron/macaron-website-hightlight.png");
  background-size: cover; /* Ensures the image covers the entire div */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
  
  width: 100vw; /* Makes the div full width */
  margin-left: calc(-50vw + 50%); /* Adjusts for section margins */
  height: 100vh; /* Adjust based on your design */

  /* Responsive height adjustments */
  min-height: 1173px; /* Prevents it from getting too small on mobile */
  max-height: 2346px; /* Ensures it doesn't become too large on desktops */
}

#macaron-mascot-container{ /*add lighter grey area around image for content */
  padding: 0.8rem;
  border-radius: 0.5rem;
  display: inline-block; 
  text-align: center; 
}

#macaron-first-feature-video{
  width: 100%
}

#macaron-first-feature-video video {
  width: 100%;  /* Makes the video stretch to fit the div */
  height: auto;  /* Maintains aspect ratio */
  display: block; /* Removes any extra spacing */
}

/* ----------- CLOSETSHARE -----------*/
#closetshare-youtube-video {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----------------------- STYLE GUIDE Related ---------------------------*/
.area img{
  width: 80%;
}
#style-guide-header {
  text-align: center;
}