* {
  box-sizing: border-box;
}

/* ----------------------- PAGE and SECTION Related ---------------------------*/
body{
  background-color: #222222;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

footer {
  background-color: #1F1F1F;
  margin-top: 5rem;
  padding-top: 1rem;
}

#footer-content {
  margin-left: 14%;
  margin-right: 14%;
}

footer h2{
  border-bottom: 5px solid #C22022;
  width: 100%;
}

section {
  margin-left: 14%;
  margin-right: 14%;
  margin-top: 5rem;
}

/* ----------------------- BASIC ELEMENT Related ---------------------------*/

h1 {
  font-size: 48px;
  color: white;
  margin-top: 2rem;
  border-image: 
    linear-gradient(0deg,
      #C22022 5px,
    #0000 0) fill 0//0 0 0 100vw;
  width: fit-content;
}
h2 {
  font-size: 36px;
  margin-top: 0;
}

h3 {
  font-size: 32px; 
}

h4 {
  font-size: 20px;
}

ul {
  margin-top: 0;
}

p, label, li{
  font-size: 18px;
  font-family: 'Quicksand';
}

a {
  text-decoration: none;
  color: #C22022;
}

a:hover{
  color: white;
}

em {
  color: #C22022;
  font-style: normal;
}

.button {
  background-color: #C22022;
  border: none;
  border-radius: 0.5rem;
  color: white;
  padding: 0.5rem 4rem;
  margin-top: 1.5rem;
  margin-right: 2rem;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.button:hover, .button:focus{
  background-color: white;
  color: #C22022;
  cursor: pointer;
}

input[type="radio"] {
    accent-color: #33415C;
    cursor: pointer;
}

input[type='submit'] {
  text-decoration: none;
}

input[type="text"] {
  padding: 15px;
  padding-left: 30px;
  background-color: #33415C;
  border-radius: 2rem;
  border-style: solid;
  border-color: #002855;
  color: white;
}

/* ----------------------- CUSTOM BASIC ELEMENT Related ---------------------------*/

.buttons { 
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  background-color: #023E7D;
  border-radius: 0.7rem;
  color: #white;
  cursor: pointer;
  width: 2rem;
  padding: 0.2rem;
  margin-right: 0.2rem;
}

.navigation {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-areas:
  "logo . . links";
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2rem;
}

@media only screen and (max-width: 768px) {
  .navigation {
    grid-template-columns: 1fr;
    grid-template-areas:
  "logo"
  "links";
  }
}

#logo {
  grid-area: logo;
}

.navigation-items {
  grid-area: links;
  justify-self: end;
}

.navigation-items a{
  font-size: 28px; 
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  color: white;
  margin-left: 2rem;
  margin-right: 2rem;
}

.navigation-items a:hover, .navigation-items a:focus {
  color: #C22022;
  cursor: pointer;
}

/* ----------------------- INTRODUCTION SECTION SPECIFIC ---------------------------*/
#introduction {
  display: grid;
  grid-template-columns: 60% 40%;
}

@media only screen and (max-width: 768px) {
  #introduction {
    grid-template-columns: 1fr;
  }
}

#introduction-left {
  margin-right: 5rem;
}

#introduction-right {
   justify-self: end;
}

/* ----------------------- PROJECT SECTION SPECIFIC ---------------------------*/
.project {
  background-color: #3B414D;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 1rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
  .project {
    grid-template-columns: 1fr;
  }
}

.project-right {
  margin-left: 1rem;
}

.project h2{
  margin-bottom: 0;
}
.project img{
  width: 100%;
}

.project-title {
  display: flex;
  border-bottom: 3px solid #C22022;
  width: 100%;
}

.project-title p{
  margin-left: auto;
}

/* ----------------------- Project page specific ---------------------------*/
#project-page-brief {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 768px) {
  #project-page-brief {
    grid-template-columns: 1fr;
  }
}

#project-page-brief h3, #project-page-brief h4 {
   border-bottom: 3px solid #C22022;
}

#project-brief-left {
  margin-right: 3rem;
}

#project-brief-right {
  margin-left: 3rem;
}

.multi-column-list {
  display: flex;
}

#project-content p{
  margin-top: 2rem;
}

#project-content img{
  width: 100%;
}

/* ----------------------- IMAGES ---------------------------*/
#profile-picture {
 
}
/* ----------------------- STYLE GUIDE Related ---------------------------*/
#style-guide-header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}